{
    "root"         : true,
    "parser"       : "babel-eslint",
    "extends"      : "airbnb-base",
    "parserOptions": {
        "sourceType": "module",
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "config": false
    },
    // required to lint *.vue files
    "plugins": [
        "html"
    ],
    // check if imports actually resolve
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "build/webpack.base.config.js"
            }
        }
    },
    // add your custom rules here
    "rules": {
        // 4 chars instead of 2
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        // Disable last comma
        "comma-dangle": ["error", "never"],

        // Align object keys
        "key-spacing": ["error", {
            "align": "colon"
        }],

        // Max line length to 120
        "max-len": ["warn", 120, 4],

        // Disable no-multi-spaces for alignment
        "no-multi-spaces": ["warn", {
            "exceptions": {
                "VariableDeclarator": true,
                "Property": true,
                "ImportDeclaration": true,
                "AssignmentExpression": true
            }
        }],

        // Allow hasOwnProperty
        "no-prototype-builtins": 0,

        // Allow reassign props to params
        "no-param-reassign": ["error", { "props": false }],

        // Allow console
        "no-console": 0,

        // Disable consistent return
        "consistent-return": 0,

        // Disable return in callbacks
        "array-callback-return": 0,

        // Require allowance
        "global-require": 0,

        // Dangle underscores allowance
        "no-underscore-dangle": 0,

        // Allow dynamic require
        "import/no-dynamic-require": 0,

        // Allow config.js
        "import/no-unresolved": 0,

        // Allow export without default
        "import/prefer-default-export": 0,

        // don't require .vue extension when importing
        "import/extensions": 0,

        // Allow electron in devDeps even if used by browser.js
        "import/no-extraneous-dependencies": 0,

        // Allow confirm
        "no-alert": 0
    }
}
