@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
        local('Roboto Bold'),
        local('Roboto-Bold'),
        url('./fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto_700.woff') format('woff'),
        url('./fonts/Roboto_700.svg#Roboto') format('svg'),
        url('./fonts/Roboto_700.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
        local('Roboto'),
        local('Roboto Regular'),
        local('Roboto-Regular'),
        url('./fonts/Roboto_400.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto_400.woff') format('woff'),
        url('./fonts/Roboto_400.svg#Roboto') format('svg'),
        url('./fonts/Roboto_400.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src:
        local('Roboto'),
        local('Roboto Light'),
        local('Roboto-Light'),
        url('./fonts/Roboto_300.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Roboto_300.woff') format('woff'),
        url('./fonts/Roboto_300.svg#Roboto') format('svg'),
        url('./fonts/Roboto_300.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('./fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('./fonts/MaterialIcons-Regular.woff') format('woff'),
       url('./fonts/MaterialIcons-Regular.ttf') format('truetype');
}
