* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    width: 100%;
}

#app {
    height: 100%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

// Utils
.b--capitalized {
    text-transform: capitalize;
}

.b--fullwidth {
    width: 100%;
}

.b--inputwidth {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.b--center {
    text-align: center;
}

.b--centered {
    margin: auto;
}

.b--clear {
    clear: both;
}

.b--right {
    float: right;
}

.b--left {
    float: left;
}

// Transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity .4s ease;
}

.fade-enter {
    opacity: 0;
}

.fade-leave-active {
    display: none;
}